body {
  background-color: white;
  margin: auto 0;
  box-sizing: border-box;
  font-family: "SourceSansPro-Regular";
}

@font-face {
  font-family: SourceSansPro-Black;
  src: url(/fonts/SourceSansPro-Black.ttf);
  font-display: swap;
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url(/fonts/SourceSansPro-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(/fonts/SourceSansPro-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url(/fonts/SourceSansPro-Regular.ttf);
  font-display: swap;
}

:root {
  --primary-color: #e30613;
  --secondary-color: #ffcc00;
  --kostenlos: #455a64;
  --hover-red: #9d040d;
}

/* header {
  width: 100%;
  height: 500px;
  background-image: url("/img/background_header.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
} */

.top-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  width: 90%;
  margin: auto;
}

.top-strip a div {
  width: 90%;
}

.top-strip img {
  width: 100%;
}

#dropdown-top {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 3rem; */
}

#nav-links {
  list-style-type: none;
  padding: 2rem;
  margin: 0;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 65px;
  left: 0;
  z-index: 999;
}

#nav-links li {
  width: fit-content;
  padding: 0.3rem;
  cursor: pointer;
}

summary::after {
  content: "+";
  font-size: 1.2rem;
}

details[open] summary::after {
  content: "-";
  color: var(--primary-color);
  font-size: 1.2rem;
}

#nav-links>li:nth-of-type(1)>a {
  color: var(--primary-color);
}

#testberichte-menu li {
  border: 1px solid rgba(255, 255, 255, 0);
}

#testberichte-menu li:hover {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

#nav-links>li>a:hover {
  color: var(--primary-color);
}

#testberichte-menu {
  list-style-type: none;
}

.title {
  margin-top: 3rem;
  text-align: center;
  width: 90%;
}

.title h1 {
  display: inline-block;
  width: 90%;
  margin: 0;
  letter-spacing: 0.05rem;
}

.title p {
  font-size: 14px;
}

.black {
  font-family: "SourceSansPro-Black";
}

.semibold {
  font-family: "SourceSansPro-Semibold";
}

.bold {
  font-family: "SourceSansPro-Bold";
}

.top-tools {
  width: 90%;
  margin: auto;
}

.top-tools>div {
  display: flex;
  flex-direction: column;
  background-color: #f8f8fb;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border: 0.15rem solid transparent;
  align-items: center;
  text-align: center;
  box-shadow: 2.5px 2.5px 5px 0px rgb(193, 193, 193);
}

/* labels */

.winner-label,
.free-label {
  margin: 0.1rem;
  border-radius: 0.7rem;
  position: absolute;
  left: -17px;
  width: 6.2rem;
}

.winner-label {
  background-color: var(--secondary-color);
  color: var(--kostenlos);
  top: 10px;
}

.free-label {
  background-color: var(--kostenlos);
  color: white;
  top: 40px;
}

.winner-label p,
.free-label p {
  margin: 0;
  padding: 0.4rem 0.9rem;
  letter-spacing: 1px;
}

.other-tools div:nth-of-type(4),
.other-tools div:nth-of-type(6) {
  position: relative;
}

.other-tools div:nth-of-type(4) .free-label,
.other-tools div:nth-of-type(6) .free-label {
  position: absolute;
  left: -17px;
  width: 6.2rem;
  top: 0px;
}

/* labels */

.top-tools div {
  position: relative;
}

.top-tools>div:hover,
.other-tools>div:hover {
  scale: 1.01;
  transition: 800ms;
}

.other-tools>span {
  display: flex;
  justify-content: flex-end;
}

.top-tools>div>div img {
  width: 100%;
}

.top-tools div p {
  font-size: 12px;
}

.info-link {
  text-decoration: underline;
  color: var(--primary-color);
  font-size: 12px;
}

.top-tools div a:hover {
  color: var(--hover-red);
}

.top-tools>div:nth-of-type(1)>div {
  /*IMAGE anyPDF*/
  width: 20%;
}

.top-tools>div:nth-of-type(2)>div {
  /*IMAGE sodaPDF*/
  width: 30%;
}

.top-tools>div:nth-of-type(3)>div {
  /*IMAGE expertPDF*/
  width: 50%;
}

.rate-stars img {
  width: 100%;
}

.rate-stars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.rate-stars span:nth-of-type(1) {
  width: 35%;
}

.rate-stars strong {
  font-size: 12px;
}

.top-tools>div:nth-of-type(1) {
  border: 0.15rem solid var(--primary-color);
}

.top-tools div:nth-of-type(2):hover,
.top-tools div:nth-of-type(3):hover {
  border: 0.15rem solid var(--primary-color)
}

/* BUTTONS */

.red-btn {
  background-color: var(--primary-color);
  color: white;
  margin-top: 0.5rem;
  width: 80%;
  height: 2rem;
  border-radius: 1rem;
  font-family: "SourceSansPro-Semibold";
  border: none;
}

.red-btn:hover {
  background-color: var(--hover-red);
  color: white;
}

.wh-btn {
  background-color: white;
  color: var(--primary-color);
  margin-top: 0.5rem;
  width: 80%;
  height: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  font-family: "SourceSansPro-Semibold";
}

.wh-btn:hover {
  background-color: var(--hover-red);
  color: white;
  border: 1px solid var(--hover-red);
}

/* BUTTONS */

/* TOP SCROLL BUTTON */
.top-scroll-btn {
  position: fixed;
  bottom: 10rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  width: 2.5rem;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.top-scroll-btn.show {
  opacity: 1;
}

.top-scroll-btn img {
  width: 100%;
  height: auto;
  display: block;
}

.top-scroll-btn:hover {
  opacity: 0.8;
}

/* TOP SCROLL BUTTON */

.other-tools {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  /* align-items: center; */
}

.other-tools img {
  width: 100%;
}

.other-tools>div {
  display: flex;
  flex-direction: column;
  /* background-color: #f8f8fb; */
  border-radius: 0.25rem;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border: 0.15rem solid transparent;
  align-items: center;
  box-shadow: 2.5px 2.5px 5px 0px rgb(193, 193, 193);
}

.other-tools h2 {
  align-self: center;
}

.other-tools h3 {
  font-size: 14px;
}

.other-tools p {
  font-size: 12px;
  margin: 0;
}

.other-tools>div:nth-of-type(1)>div,
.other-tools>div:nth-of-type(2)>div,
.other-tools>div:nth-of-type(3)>div,
.other-tools>div:nth-of-type(4)>div,
.other-tools>div:nth-of-type(5)>div,
.other-tools>div:nth-of-type(6)>div {
  padding-top: 1rem;
}

.other-tools div:nth-of-type(1) .tool-logo,
.other-tools div:nth-of-type(2) .tool-logo,
.other-tools div:nth-of-type(3) .tool-logo,
.other-tools div:nth-of-type(4) .tool-logo,
.other-tools div:nth-of-type(5) .tool-logo,
.other-tools div:nth-of-type(6) .tool-logo {
  width: 40%;
}

.other-tools div:nth-of-type(1) .rate-stars,
.other-tools div:nth-of-type(2) .rate-stars,
.other-tools div:nth-of-type(3) .rate-stars,
.other-tools div:nth-of-type(4) .rate-stars,
.other-tools div:nth-of-type(5) .rate-stars,
.other-tools div:nth-of-type(6) .rate-stars {
  width: 100%;
}

.other-tools div:nth-of-type(1) div,
.other-tools div:nth-of-type(2) div,
.other-tools div:nth-of-type(3) div,
.other-tools div:nth-of-type(4) div,
.other-tools div:nth-of-type(5) div,
.other-tools div:nth-of-type(6) div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-tools ul {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0 2rem;
  font-size: 12px;
  align-self: start;
}

.other-tools ul li {
  list-style-image: url("/img/icon_check.png");
}

.other-tools .rate-stars span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.other-tools>div>div {
  margin-top: 2rem;
  width: 100%;
  border-top: solid #455a6415 1.5px;
}

.other-tools>div>div p,
.other-tools>div>div button,
.other-tools>div>div .rate-stars,
.other-tools>div>div a {
  margin: 0.4rem 0;
}

.chars {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chars h2,
.chars h3,
.chars p {
  text-align: center;
}

.chars p {
  font-size: 12px;
}

.chars img {
  width: 100%;
}

.faqs {
  width: 90%;
  margin: auto;
  padding-bottom: 3rem;
}

.faqs h2 {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.faqs summary {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  cursor: pointer;
  padding: 1rem 0;
}

.faqs details summary {
  border-bottom: 0.01rem solid #e2e2e2;
  display: flex;
  align-items: center;
}

.faqs details[open] summary {
  border-bottom: none;
  margin: 0;
  color: var(--primary-color);
}

.faqs summary::after {
  content: "+";
  font-size: 1.2rem;
}

.faqs details[open] summary::after {
  content: "-";
  color: var(--primary-color);
  font-size: 1.2rem;
}

.faqs details[open]>p {
  /* border-bottom: 0.01rem solid #e2e2e2; */
  margin: 0;
  /* padding: 1rem 0.5rem; */
}

.faqs details[open]:nth-of-type(3)>p,
.faqs details[open]:nth-of-type(4)>p {
  border-bottom: 0.01rem solid #e2e2e2;
}

.faqs details>ul {
  border-bottom: 0.01rem solid #e2e2e2;
  font-size: 12px;
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.faqs details>p {
  font-size: 12px;
}

.faqs details>ul {
  list-style-type: square;
}

.faqs details[open]:nth-of-type(3)>p,
.faqs details[open]:nth-of-type(4)>p {
  padding: 0.5rem 0 1.5rem 0;
}

.btm-strip>div {
  display: flex;
  flex-direction: column;
}

.btm-strip {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 0;
  width: 90%;
  margin: auto;
}

.btm-strip img {
  width: 100%;
}

.btm-strip>a>div {
  width: 80%;
}

.btm-strip a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}

/*MEDIA QUERIES*/

@media (min-width: 425px) {


  .other-tools div:nth-of-type(1) .tool-logo,
  .other-tools div:nth-of-type(2) .tool-logo,
  .other-tools div:nth-of-type(3) .tool-logo,
  .other-tools div:nth-of-type(4) .tool-logo,
  .other-tools div:nth-of-type(5) .tool-logo,
  .other-tools div:nth-of-type(6) .tool-logo {
    width: 35%;
  }

  .other-tools>span {
    font-size: 12px;
  }

  .chars h2 {
    margin-top: 3rem;
  }

}

@media (min-width: 512px) {

  .rate-stars span:nth-of-type(1) {
    width: 25%;
  }

  .top-tools>div:nth-of-type(1)>div {
    width: 15%;
  }

  .other-tools div:nth-of-type(4) .free-label,
  .other-tools div:nth-of-type(6) .free-label {
    top: 5px;
  }

  .chars {
    padding-bottom: 2rem;
  }

  .other-tools>span {
    font-size: 12px;
  }

  .other-tools div:nth-of-type(1) .tool-logo,
  .other-tools div:nth-of-type(2) .tool-logo,
  .other-tools div:nth-of-type(3) .tool-logo,
  .other-tools div:nth-of-type(4) .tool-logo,
  .other-tools div:nth-of-type(5) .tool-logo,
  .other-tools div:nth-of-type(6) .tool-logo {
    width: 40%;
  }

  .chars h2 {
    margin-top: 3rem;
  }

  .chars p {
    font-size: 14px;
  }

  .faqs {
    padding: 0 0 2rem 0;
  }

  .faqs summary {
    font-size: 14px;
  }

  .faqs details>p {
    font-size: 14px;
  }

  .faqs details>ul {
    font-size: 14px;
  }

}

@media (min-width: 650px) {
  .rate-stars span:nth-of-type(1) {
    width: 20%;
  }

  .top-tools>div:nth-of-type(1)>div {
    width: 14%;
  }

  .top-tools>div:nth-of-type(2)>div {
    width: 20%;
  }

  .top-tools>div:nth-of-type(3)>div {
    width: 40%;
  }

  .red-btn {
    width: 40%;
  }

  .other-tools>div {
    padding: 2rem;
  }

  .other-tools div:nth-of-type(4) .free-label,
  .other-tools div:nth-of-type(6) .free-label {
    top: 15px;
  }

  .chars {
    margin-top: 2rem;
  }

  .chars>div:nth-of-type(1) {
    width: 80%;
  }

  .chars>.up-slider {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .chars>.up-slider:nth-of-type(3) {
    flex-direction: row;
  }

  .chars .up-slider {
    margin-top: 2rem;
  }

  .up-slider>div {
    width: 100%;
  }

  .up-slider h3,
  .up-slider p {
    text-align: start;
  }

  .up-slider h3 {
    width: 75%;
  }

  .faqs {
    margin-top: 3rem;
  }

  .btm-strip {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btm-strip>div {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {

  .title h1 {
    font-size: 2.3rem;
  }

  .top-tools>div:nth-of-type(1)>div {
    width: 11%;
  }

  .rate-stars strong {
    font-size: 14px;
  }

  .top-tools .red-btn {
    width: 80%;
  }

  .other-tools>div {
    padding: 2rem 3rem;
  }

  .other-tools div:nth-of-type(1) .tool-logo {
    width: 33%;
  }

  .other-tools div:nth-of-type(2) .tool-logo,
  .other-tools div:nth-of-type(4) .tool-logo,
  .other-tools div:nth-of-type(5) .tool-logo {
    width: 25%;
  }

  .other-tools div:nth-of-type(6) .tool-logo {
    width: 20%;
  }

  .btm-strip {
    width: 80%;
  }

  .btm-strip>div>a {
    font-size: 0.75rem;
  }
}

@media (min-width: 1024px) {

  #dropdown-top {
    display: none;
  }

}